<%- include('../partials/header') %>

    <h1>Landing Page for Login / Profile Creation!</h1>
    <br><br>
    <% if (user) { %>
    <a href="/logout">LOG OUT</a>
    <br><br><br>
        <form id="make-profile" action="/profiles/new" method="GET">
            <input type="submit" value="Make Profile">
        </form>
    <% } else { %>
    
    <!-- <a href="/profiles/new" class="new-char">Make Profile!</a> -->
    <!-- <a href="/profiles/${profile._id}" class="profile-show">Go To Profile!</a> -->
    <br><br>
    <a href="/auth/google" class="login">LOG IN</a>
    <br><br>
    <% } %>

<%- include('../partials/footer') %>
