<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Landing Page for Character Creation!</h1>
    <br><br>
    <% if(user) { %>
    <a href="/logout">LOG OUT</a><br><br>
    <a href="/characters/new" class="new-char">New Character</a>
    <% } else { %>
    <br><br>
    <a href="/auth/google" class="login">LOG IN</a>
    <% } %>
</body>
</html>