@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
   width: 100vw;
   height: 100vh;
   background-color: black;
   margin: 0;
   overflow: auto;
   font-family: 'Cinzel';
}
.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-info) !important;
  --bs-popover-header-bg: var(--bs-black) !important;
  --bs-popover-header-color: var(--bs-info) !important;
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
  --bs-popover-body-color: var(--bs-info) !important;
  --bs-popover-bg: var(--bs-black) !important;
}
.brand-logo {
  margin-left: 15px;
}
.card .card-content .card-title {
  margin-bottom: 10px;
}
#search-row form {
  padding-top: 20px;
}
.student-name {
  position: relative;
  top: -5px;
}
.collection-item form {
  margin-top: -5px;
}
#button {
  display: none;
}
#tooltip {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  display: none;
}
#tooltip[data-show] {
  display: block;
}
#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}
#arrow {
  visibility: hidden;
}
#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}
#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}
#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}
#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
