<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <h1>Character Creation Page!</h1>
        <h2>Are you the next va'Esai?</h2>
        <br><br>
        <h2>Build Description:</h2>
        <textarea name="content">WARNING: No Profanity Filter!</textarea>
        <br><br>
        <h2>Choose your Weapon:</h2>
        <br><br>
        <h2>Choose your Shield:</h2>
        <br><br>
        <h2>Choose your Armor:</h2>
        <button type="submit">Confirm Your Selection</button>
   
</body>
</html>